<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand">
      <a href="index.html"><img src="assets/img/logo-dark.PNG" alt="Forge Logo" class="img-responsive logo"></a>
    </div>
    <div class="container-fluid">
      <div class="navbar-btn">
        <button type="button" class="btn-toggle-fullwidth"><i class="fa fa-bars"></i></button>
      </div>
      <div id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
              <span class="lnr lnr-envelope"></span>
              <span>Contact</span>
            </a>
            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
              <i class="fa fa-comments"></i>
              <span>Support</span>
            </a>
            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
              <span class="fa fa-user"></span>
              <span>Account</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>Baba</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
              <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
              <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
              <li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <p *ngIf="!menulists"><em>Loading...</em></p>
      <nav>
        <ul *ngFor="let menulist of menulists" class="nav">

          <li *ngIf="menulist.menuId==1 && menulist.active==1"><a href="{{ menulist.menuUrl}}" class="active"><i class="lnr lnr-{{menulist.menuIconClass}}"></i> <span>{{menulist.menuName}}</span></a></li>
          <li *ngIf="menulist.menuId!=1 && menulist.active==1"><a href="{{ menulist.menuUrl}}" ><i class="lnr lnr-{{menulist.menuIconClass}}"></i> <span>{{menulist.menuName}}</span></a></li>
          <!--<li>
        <a href="#subPages1" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Submit blogs</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
        <div id="subPages1" class="collapse ">
          <ul class="nav">
            <li><a href="page-profile.html" class="">Profile</a></li>
            <li><a href="page-login.html" class="">Login</a></li>
            <li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
          </ul>
        </div>
      </li>-->

        </ul>
      </nav>
    </div>
  </div>
</header>
